1. Reverse a list in Python

In [221]:
list1 = [100, 200, 300, 400, 500]

list1.reverse()

In [222]:
list1

[500, 400, 300, 200, 100]

2. Concatenate two lists index-wise

In [44]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

In [226]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

concatenated_list = [list1[i] + list2[i] for i in range(len(list1))]
print(concatenated_list)

['My', 'name', 'is', 'Kelly']

3. Turn every item of a list into its square

In [12]:
numbers = [1, 2, 3, 4, 5, 6, 7]

In [15]:
for i in numbers:
    print(i**2, end=" ")

1 4 9 16 25 36 49

4. Concatenate two lists in the following order

In [48]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = [x + y for x in list1 for y in list2]
print(res)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [42]:
list

['Hello take ', 'DearSir']

5. Iterate both lists simultaneously

In [82]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for num1, num2 in zip(list1, list2):
    print(num1, num2)

10 100
20 200
30 300
40 400

In [83]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for num1, num2 in zip(list1, reversed(list2)):
    print(num1, num2)

10 400
20 300
30 200
40 100

6. Remove empty strings from the list of strings

In [96]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

list = []
for i in list1:
    if i != "":
        list.append(i)

In [97]:
list

['Mike', 'Emma', 'Kelly', 'Brad']

In [98]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
non_empty_list = [string for string in list1 if string != ""]
print(non_empty_list)

['Mike', 'Emma', 'Kelly', 'Brad']

7. Add new item to list after a specified item

In [116]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [135]:
list1[2][2].append(7000)

In [136]:
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8. Extend nested list by adding the sublist

In [141]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]

In [149]:
list1[2][1][2].extend(sub_list)

In [150]:
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Replace listâ€™s item with new value if found

In [189]:
list1 = [5, 10, 15, 20, 25, 50, 20]

In [190]:
for i in list1:
    if list1.index(i) == 3:
        list1.remove(20)
        list1.insert(3,200)

In [191]:
list1

[5, 10, 15, 200, 25, 50, 20]

In [193]:
list1 = [5, 10, 15, 20, 25, 50, 20]

# get the first occurrence index
index = list1.index(20)

# update item present at location
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

10. Remove all occurrences of a specific item from a list.

In [216]:
list1 = [5, 20, 15, 20, 25, 50, 20]

for i in list1:
    if list1.count(20):
        list1.remove(20)

In [217]:
list1

[5, 15, 25, 50]

In [215]:
list1 = [5, 20, 15, 20, 25, 50, 20]

# list comprehension
# remove specific items and return a new list
def remove_value(sample_list, val):
    return [i for i in sample_list if i != val]

res = remove_value(list1, 20)
print(res)

[5, 15, 25, 50]

In [218]:
list1 = [5, 20, 15, 20, 25, 50, 20]

while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]